<% cache([@user, @date]) do %>
  <div class="row">
    <%= render('filters') %>
  </div>
  <div class="row">
    <%= render('table') %>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-auto">
      <%= paginate(@events, theme: 'twitter-bootstrap-4') %>
    </div>
  </div>
<% end %>
